@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto:wght@300;400&display=swap');

* {
  margin: 0px;
  padding: 0px;
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
}

body {
  margin: 0;
}


#navbar {
  overflow: hidden;
  background-color: #f1f1f1;
  padding: 90px 10px;
  transition: 0.4s;
  /*position: fixed;*/
  width: 100%;
  top: 0;
  z-index: 99;

  background-image: url('/img/navbar_cafe.jpg');
  background-size: cover;
  /*min-height: 100vh;*/
}

#navbar a {
  float: left;
  color: black;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  line-height: 25px;
  border-radius: 4px;
}

#navbar #logo {
  transition: 0.4s;
  padding-top: 0;
}


#navbar a:hover {
  background-color: #ddd;
  color: black;
}

#navbar a.active {
  background-color: dodgerblue;
  color: white;
}

#navbar-left {
  float: left;
}

@media screen and (max-width: 580px) {
  #navbar {
    padding: 20px 10px !important;
  }

  #navbar a {
    float: none;
    display: block;
    text-align: left;
  }

  #navbar-left {
    float: none;
  }
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 10px;
  padding: 10px;
}

.grid-container>div {
  height: 200px;
  align-content: center;
  background-color: #CCC2B6;
  border: 1px solid blue;
  text-align: center;
  font-size: 20px;
}


/*........estilo para card index......*/

.tarjeta{
  display:flex;
  flex-direction:column;
  justify-content:space-between;
  width:420px;
  border: 1px solid lightgray;
  box-shadow: 2px 2px 8px 4px #d3d3d3d1;
  border-radius:15px;
  font-family: sans-serif;
}
.titulo{
  font-size: 24px;
  padding: 10px 10px 0 10px;;
}
.cuerpo{
  padding: 10px;
}
.pie{
  background: #6699ff;
  border-radius:0 0 15px 15px;
  padding: 10px;
  text-align:center;
}
.pie img{
  width: 50px; 
  height: 50px;
}
.pie a{
  text-decoration: none;
  color: white;
}
.pie a:after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  content: ""
}

/*.........fin card...........*/


.nespresso {
  background: url('/img/nespresso.jpg');
  background-size: cover;
}

.dolce {
  background: url('/img/dolcegusto.jpg');
  background-size: cover;
}


.cafes {
  background: url('/img/cafe_granos.jpg');
  background-size: cover;
}

.banner {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #CCC2B6;
  font-size: 50px;
  text-align: center;
}

/*.carousel {
  width: 50%;
  margin: auto;
}

.carousel-item img {
  width: 40%;
}*/

/* slider del index*/
div#slider {
  overflow: hidden;
}

/* las imágenes no van a salir del márgen de la pantalla*/
div#slider figure img {
  width: 20%;
  float: left;
}

div#slider figure {
  position: relative;
  width: 500%;
  margin: 0;
  left: 0;
  text-align: left;
  font-size: 0;
  animation: 30s slidy infinite;
  /*el movimiento se va a mantener de forma indefinida -infinito-*/
}


/*esta parte del código define el movimiento de las imágenes a la izquierda*/
@keyframes slidy {
  0% {
    left: 0%;
  }

  20% {
    left: 0%;
  }

  25% {
    left: -100%;
  }

  45% {
    left: -100%;
  }

  50% {
    left: -200%;
  }

  70% {
    left: -200%;
  }

  75% {
    left: -300%;
  }

  95% {
    left: -300%;
  }

  100% {
    left: -400%;
  }
}





.footer {
  /*position: fixed;*/
  display: block;
  bottom: 0;
  background-color: #f1f1f1;
  text-align: center;
  width: 100%;
}

/*contactenos*/

input[type=text], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=submit] {
  width: 100%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

.formulario {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}
